*{
	margin:0;
	padding:0;
}

body{
	font:15px/1.3 'Courier', sans-serif;
	color: #5e5b64;
	text-align:center;
    background-image: url("media/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1600px 1600px;
}

#main {
	height:100%;
	width:100%;
}

#header {
	height:85px;
	width:100%;
	float:left;
	padding-top: 10px;
}

#footer {
	 height:50px;
	 width:100%;
	 float:left;
}

.margin {
	height:75%;
	width:10%;
	float:left;
}

#dictionary {
	 height:460px;
	 width:80%;
	 float:left;
	 text-align:center;
}

#entry {
	background-color: #FFFFFF
}

.page {
	width:350px;
	height:430px;
	border:2px solid;
	border-radius:5px;
	padding:25px;
	display:inline-table;
	background-color: #f2bb70;
}

#right_page {
	background-color: #f2bb70
}

#about_page {
	display: none;
}

#greeting {
	float:right;
	text-align:right;
	padding:20px;
	font-size:15px;
	font-weight:bold;
	color:#000000;
}

p{
	font-size:25px;
	font-weight:bold;
	color:#7d9098;
}

#about {
	font-size:15px;
	background-color: #FFFFFF;
}

p b{
	color:#ffffff;
	display:inline-block;
	padding:5px 10px;
	background-color:#c4d7e0;
	border-radius:2px;
	text-transform:uppercase;
	font-size:18px;
}

#definitions.def1 .def1,
#definitions.def2 .def2,
#definitions.def3 .def3,
#definitions.none .none{
	background-color:#e35885;
}

#definitions{
	list-style:none;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	text-align:left;
	margin:20px 0 15px;
}

#definitions li{
	padding:20px 30px;
	background-color:#000000;
	margin-bottom:8px;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	text-transform: uppercase;
	cursor:pointer;

	-webkit-transition:background-color 0.05s;
	-moz-transition:background-color 0.05s;
	transition:background-color 0.05s;
}

#navlist {
	text-align: center;
	list-style:none;
	color:#fff;
	font-size:20px;
	font-weight:bold;
}

#navlist li{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	background-color:#000000;
	margin-bottom:8px;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	text-transform: uppercase;
	cursor:pointer;
	text-align:center;
}

li:hover {
	/*CSS transform*/
	transform: scale(1.025);
	/*rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);*/
}

#definition {
    width: 350px;
    height: 375px;
    padding: 15px 25px;
    font:15px/1.3 'Courier', sans-serif;
    font-weight: 400;    color: #9D9E9E;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    resize: none;
}

#definition:focus {
    background: #DFE9EC;
    color: #414848;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    outline: 0;
}

#definition:hover {
    background: #DFE9EC;
    color: #414848;
}
