/* MOBILE CSS */

#main {
	height:150%;
}

#portal {
	width: 850px;
	height: 1300px;
	border: 30px solid white;
	/*margin: 40px;*/
	display: inline-block;
	background-color: gray;
	background-image: url("../media/block-back.jpg");
}

#welcome {
	/*display:none;*/
	width: 850px;
	height: 1300px;
	position: relative;
	background-image: url("../media/block-back.jpg");
	background-width: 100%;
	background-height:100%;
}

#logo {
	width:800px;
    height: auto;
	position: absolute;
	top:505px;
	left:25px;
	cursor:pointer;
}

.animatelogo {
  	-moz-transition: transform 500ms;
	-moz-transform: translate(0px, -300px);
	-webkit-transition: transform 500ms;
	-webkit-transform: translate(0px, -300px);
}

#enter1 {
	top:550px;
	left:225px;
	width:200px; /* you can use % */
    height:auto;
}

#enter2 {
	top:550px;
	left:425px;
	width:200px; /* you can use % */
    height:auto;
}

#about-main, #profile-main {
	height:1000px;
	width:810px;
	padding:20px;
	float:left;
	font:25px;
}

#profile-data, #about-data {
	height:960px;
	width:790px;
	padding:20px;
	float:left;
	font:27px/1.3 'Gill Sans', sans-serif;
}

#about-main {
	text-align:justify !important
}

#about-footer, #profile-footer {
	height:300px;
	width:850px;
	float:left;
	text-align:left;
}

.control {
	cursor:pointer;
	height:160px;
	width:160px;
	opacity:0.5;
}

#game, #game2 {
	width:100%;
	height:100%;
	display:none;
}

#gamezone {
	width:850px;
	height:700px;
	float:right;
}

#controls {
	height:100%;
	width:100%;
	background: url('../media/mobile-header.png') repeat-x scroll center bottom transparent;
	float:right;
}

#gamezone-main {
	height:660px;
	width:810px;
	padding:20px;
	float:left;
}

#gamezone-footer {
	height:300px;
	width:850px;
	float:left;
}

#footer-greeting {
	float:left;
	height:50px;
	width:450px;
	padding-left:30px;
	padding-top:50px;
}

#footer-next {
	float:left;
	height:200px;
	width:400px;
}
